//SAMPRG   JOB (D999,MISC),NOTIFY=&SYSUID,REGION=0M
//JOBLIB  DD  DSN=DB2.V12R1M0.SDSNLOAD,DISP=SHR
//REORG   EXEC DSNUPROC,PARM='DBC1,DSNTEX',COND=(4,LT)
//DSNUPROC.SYSCOPY DD DSN=IBMUSER.DBC1.DSN8D12A.DSN8S12E.IC.TLHHMMSS,
//             DISP=(NEW,CATLG),
//             SPACE=(TRK,(60,6),RLSE),
//             DSNTYPE=LARGE,
//             UNIT=SYSDA
//SORTOUT  DD  UNIT=SYSDA,SPACE=(4000,(20,20),,,ROUND)
//DSNTRACE DD  SYSOUT=*
//SYSUT1   DD  UNIT=SYSDA,SPACE=(4000,(50,50),,,ROUND)
//SYSREC   DD  UNIT=SYSDA,SPACE=(4000,(200,200),,,ROUND)
//SYSIN    DD  *
  REORG TABLESPACE DSN8D12A.DSN8S12E
        SORTDEVT SYSDA  SORTNUM 4
        COPYDDN(SYSCOPY)
//* 
