DEFINE ALIAS ( NAME('{{ userid | upper }}')
{%- if user_catalog is defined and user_catalog %}
  RELATE('{{ user_catalog | upper }}')
{%- endif %}
{%- if master_catalog is defined and master_catalog %}
  CATALOG('{{ master_catalog | upper }}')
{%- endif %}
)