//FTPDUU    JOB ACCOUNT-NUMBER,
//             IBMUSER,
//             NOTIFY=IBMUSER,
//             MSGLEVEL=(1,1)
//STEP1 EXEC PGM=AMAPDUPL,REGION=0M
//* CEEOPTS  DD  *
//*  ENVAR(GSK_V3_CIPHER_SPECS=676B3C3D,GSK_PROTOCOL_TLSV1_2=1)   
//CEEOPTS  DD  *
HEAP(32768,32768,ANYWHERE,FREE,8192,4096),
ENVAR(GGSK_V3_CIPHER_SPECS=9D3D9C3C,
GSK_PROTOCOL_TLSV1_2=ON)
//SYSUT1 DD DISP=SHR,
//       DSN={{ ds_to_send }}
//DEBUG  DD SYSOUT=* 
//SYSPRINT DD SYSOUT=*
//SYSIN DD *
USERID={{ transfer_id }}
PASSWORD={{ transfer_pw }}
TARGET_SYS=www.ecurep.ibm.com
TARGET_DSN={{ ds_to_send }}
CC_HTTPS=01
WORK_DSN=IBMUSER.OUT
WORK_SIZE=1
DIRECTORY=/toibm/mvs/
CASE={{ case_num }}
USE_HTTPS=Y
HTTPS_TLS12=Y
SSL_4CIPHER=C03013031302130100350032
HTTPS_KEYRING=IBMUSER/pduu
